* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  --widthBadge: 22.375rem;
  --heightBadge: 31.98rem;

  height: 100%;
  font-family: 'Ubuntu', sans-serif;

  -webkit-font-smoothing: antialiased;
}

body{
  display: grid;
  place-items: normal center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -55deg, 
        rgba(206, 229, 255) 5%,
        rgba(234,226,183,1) 5%,
        rgba(252,191,73,1) 25%, 
        rgba(249,65,68,1) 50%, 
        rgba(114,9,183,1) 100%,
        rgba(44,7,53,1) 120%,
        rgba(206, 229, 255) 100%

  );  
  animation: AnimateBG 28s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#faixa {
  position: relative;
  z-index: 60;
}

.glassEffect {
  width: var(--widthBadge);
  height: var(--heightBadge);
  position: absolute;
  top: 128px;
  border-radius: 1rem;
  background-color: rgba(102, 99, 99, 0.349);
  backdrop-filter: saturate(150%) blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.411);
  z-index: 0;
}

.noise-card-background{
  width: 22.4rem; 
  height: 28.9rem; 
  margin-top: 3.1rem; 
  border-radius: 1rem; 
  opacity: 12%;
}

main {
  background: url(images/badge.png);
  width: var(--widthBadge);
  height: var(--heightBadge);
  border-radius: 1rem;
  opacity: 1;
  z-index: 5;
  position: absolute;
  top: 128px;
}
.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-top: -1rem;
  color: var(--grey);
}
.avatar {
  width: auto 0;
  margin: 4.6rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}
p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.build {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(110deg, white, #ea8c55);
}
ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
li img {
  border-radius: 0.6rem;
  opacity: 0.8;
}

/***********************
******** MODAL *********
************************/
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(73, 71, 71, 0.416);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: var(--widthBadge);
  height: var(--heightBadge);
  background: #121214;
  text-align: center;
  top: 128px;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
  border: 2px solid #121214;
}
.modal p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  color: #a8a8b3;
  font-size: 1.2rem;
}
/************************************/


@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
.qualifications {

        /*Button Text Style*/
        font-family:'Inconsolata', 'Helvetica', 'Arial',         sans-serif;
        font-size: 0.7rem;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration:none;

        /*Button Color & Border*/
        border-radius: 0.3rem;
        border: 1px solid white ;
        
        /*Position, Display, Size*/
        position: absolute;
        display: inline-block;
        padding: 5px 5px 5px;
        cursor: pointer;
        width: auto;
        margin-left: 7.2rem;
        margin-top: 30rem;
        background-size: 300% 300%;
        background-image: linear-gradient(
          -55deg,
          rgba(234,226,183,1) 2%,
          rgba(252,191,73,1) 10%,
          rgb(228, 4, 12) 25%,
          rgb(226, 97, 28) 100%
       
    );  
    animation: AnimateBG 28s ease infinite;
}

.formulario {
  margin-top: 1rem;
  display: block;
}
.campo {
  align-items: center;
  justify-content: center;
  text-align: center;
}

i {
  margin-right: 15px;
  font-size: 1.2rem;
  color: rgba(103, 103, 103, 0.56);
}

.button-modal {
  margin-top: 1rem;
  padding: 0.6rem;
  width: 70%;
  border: none;
  border-radius: 0.20rem;
  font-size: 0.80rem;
  background-color: #ffcd1e;
  color: #09090a;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.button-modal-close {
  margin-top: 9.5rem;
  padding: 0.6rem;
  width: 58%;
  border: 1px solid white;
  border-radius: 0.40rem;
  font-size: 0.85rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: pointer;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -55deg, 
    rgb(19, 54, 97) 5%,
    rgb(52, 41, 59) 10%,
    rgb(228, 4, 12) 25%,
    rgb(57, 2, 255) 50%,
    rgb(226, 97, 28) 100%
 
);  
animation: AnimateBG 20s ease infinite;
}

button:hover {
  background-color: #ff7a29;
}



/***********************************
******** MODAL FORMAÇÃO*********
************************************/
.modal-overlay-prof {
  width: 100%;
  height: 100%;
  background-color: rgba(73, 71, 71, 0.416);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999;
}

.modal-overlay-prof.hidden{
  opacity: 0;
  visibility: hidden;
}
.modal-overlay-prof.active {
  opacity: 1;
  visibility: active;
}

.modal-prof {
  width: var(--widthBadge);
  height: var(--heightBadge);
  background: #121214;
  text-align: center;
  top: 128px;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
  border: 2px solid #121214;
}
.modal-prof p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  color: #a8a8b3;
  font-size: 1.2rem;
}

.button-modal-prof-close {
  margin-top: 1rem;
  padding: 0.3rem;
  width: 58%;
  border: 1px solid white;
  border-radius: 0.40rem;
  font-size: 0.85rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: pointer;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -55deg, 
    rgb(19, 54, 97) 5%,
    rgb(52, 41, 59) 10%,
    rgb(228, 4, 12) 25%,
    rgb(57, 2, 255) 50%,
    rgb(226, 97, 28) 100%
 
);  
animation: AnimateBG 20s ease infinite;
}
/************************************/

/***********************************
******** MODAL CURSOS*********
************************************/
.modal-overlay-cursos {
  width: 100%;
  height: 100%;
  background-color: rgba(73, 71, 71, 0.416);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999;
}

.modal-overlay-cursos.hidden{
  opacity: 0;
  visibility: hidden;
}
.modal-overlay-cursos.active {
  opacity: 1;
  visibility: active;
}

.modal-cursos {
  width: var(--widthBadge);
  height: var(--heightBadge);
  background: #121214;
  text-align: center;
  top: 128px;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
  border: 2px solid #121214;
}
.modal-cursos p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  color: #a8a8b3;
  font-size: 1.2rem;
}

.button-modal-cursos-close {
  margin-top: 1rem;
  padding: 0.3rem;
  width: 58%;
  border: 1px solid white;
  border-radius: 0.40rem;
  font-size: 0.85rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: pointer;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -55deg, 
    rgb(19, 54, 97) 5%,
    rgb(52, 41, 59) 10%,
    rgb(228, 4, 12) 25%,
    rgb(57, 2, 255) 50%,
    rgb(226, 97, 28) 100%
 
);  
animation: AnimateBG 20s ease infinite;
}
/************************************/


/***********************************
******** MODAL EXP PROFISSIONAL*********
************************************/
.modal-overlay-exp {
  width: 100%;
  height: 100%;
  background-color: rgba(73, 71, 71, 0.416);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999;
}

.modal-overlay-exp.hidden{
  opacity: 0;
  visibility: hidden;
}
.modal-overlay-exp.active {
  opacity: 1;
  visibility: active;
}

.modal-exp {
  width: var(--widthBadge);
  height: var(--heightBadge);
  background: #121214;
  text-align: center;
  top: 128px;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
  border: 2px solid #121214;
}
.modal-exp p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  color: #a8a8b3;
  font-size: 1.2rem;
}

.button-modal-exp-close {
  margin-top: 1rem;
  padding: 0.3rem;
  width: 58%;
  border: 1px solid white;
  border-radius: 0.40rem;
  font-size: 0.85rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: pointer;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -55deg, 
    rgb(19, 54, 97) 5%,
    rgb(52, 41, 59) 10%,
    rgb(228, 4, 12) 25%,
    rgb(57, 2, 255) 50%,
    rgb(226, 97, 28) 100%
 
);  
animation: AnimateBG 20s ease infinite;
}
/************************************/


/***********************************
******** MODAL PORTIFÓLIO *********
************************************/
.modal-overlay-portif {
  width: 100%;
  height: 100%;
  background-color: rgba(73, 71, 71, 0.416);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999;
}

.modal-overlay-portif.hidden{
  opacity: 0;
  visibility: hidden;
}
.modal-overlay-portif.active {
  opacity: 1;
  visibility: active;
}

.modal-portif {
  width: var(--widthBadge);
  height: var(--heightBadge);
  background: #121214;
  text-align: center;
  top: 128px;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
  border: 2px solid #121214;
}
.modal-portif p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  color: #a8a8b3;
  font-size: 1.2rem;
}

.button-modal-portif-close {
  margin-top: 1rem;
  padding: 0.3rem;
  width: 58%;
  border: 1px solid white;
  border-radius: 0.40rem;
  font-size: 0.85rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: pointer;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -55deg, 
    rgb(19, 54, 97) 5%,
    rgb(52, 41, 59) 10%,
    rgb(228, 4, 12) 25%,
    rgb(57, 2, 255) 50%,
    rgb(226, 97, 28) 100%
 
);  
animation: AnimateBG 20s ease infinite;
}
/************************************/